<template>
  <main class="row m-0">
    <ul class="tips">
      <li
        v-for="(game, key, index) in $t('games')"
        :key="key"
      >
        <div class="tip-content text-center">
          <div class="front">
            <h2 v-html="game.title"></h2>
            <p>
              <img
                alt=""
                :src="`${$t('baseurl')}img/${index+1}.png`"
              />
            </p>
          </div>
          <div class="back">
            <p
              class="desc"
              v-html="$t(`games.${key}.desc`)"
            ></p>
            <p class="play">
              <a
                class="btn btn-outline-primary"
                :href="`${$t('baseurl')}${game.url}`"
                :title="$t('btn.play.title', { name: game.title })"
              >
                <i class="fas fa-gamepad"></i>
                <span v-html="$t('btn.play.label')"></span>
              </a>
              <a
                class="btn btn-outline-danger"
                :href="`${$t('baseurl')}download/${key}.zip`"
                :title="$t('btn.download.title', { name: game.title })"
              >
                <i class="fas fa-download"></i>
                <span v-html="$t('btn.download.label')"></span>
              </a>
            </p>
            <p class="text-right credits">
              <button
                :id="`credits-${index}`"
                class="btn btn-sm btn-outline-secondary"
                :title="$t('btn.credits.title')"
              >
                <i class="fas fa-info-circle"></i>
                <span v-html="$t('btn.credits.label')"></span>
              </button>
              <b-popover
                :target="`credits-${index}`"
                triggers="click"
              >
                <p v-html="$t('btn.credits.popover', game)"></p>
              </b-popover>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </main>
</template>

<style lang="scss">
/* Tips */
.tips {
  list-style: none;
  padding: 0px;
  margin:0 auto;

  @media (max-width: 740px) { width:340px; }
  @media (min-width: 992px) { width:680px; }
  @media (min-width: 1200px) { width:1020px; }

  > li {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 235px;
    float:left;
    background-color: white;
    border-top: 1px solid var(--f-g3);
    box-shadow: 0px 9px 15px -10px rgba(0, 0, 0, 0.7);
    margin: 12px 10px 25px 10px;

    .front,
    .back {
      border-bottom: 4px solid var(--f-g5);
      background:var(--f-g1);
    }

    &:hover .tip-content {
      top: -235px;
    }
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size:20px;
    font-weight: bold;
    text-align: center;

    &::after {
      content: none !important;
    }
  }

  .desc {
    font-size:16px;
    margin-top:20px;
  }

  .popover {
    font-size: 14px;
    left: 10px !important;
    width: 300px;
    height: 120px;

    h2 {
      font-size: 14px;
      margin-bottom:0;
    }

    > .arrow {
      left:80%;
    }
  }

  .popover-content {
    padding:9px 5px;
  }
}

.tips
.play, .credits {
    position:absolute;
    width:300px;
}

.play {
    bottom: 90px;
}

.credits {
    bottom: 10px;
}

.tip-content {
    position: absolute;
    width: 320px;
    height: 470px;
    top: 0px;
    transition: all 400ms ease 0s;
}

.front, .back {
  padding: 10px;
  height: 235px;
}

.show-back {
  top: -235px;
}

h1 a, h2 a,
h1 a:hover, h2 a:hover,
h1 a:focus, h2 a:focus {
  text-decoration:none;
}
</style>
